<div
    @slideInTop
    stopPropagation
    *ngIf="opened$ | async"
    style="min-width: 400px"
    class="relative z-10 w-full mx-auto my-auto overflow-auto bg-white md:w-3/4 min-h-1/4"
>
    <modal-header
        modalTitle="Manage School Event"
        subTitle="Creating Moments, Unforgettable Experiences"
        (onClose)="opened$.next(false)"
    />

    <form [formGroup]="form" class="grid w-full p-5 md:grid-cols-3 gap-x-10">
        <div>
            <mat-form-field class="w-full">
                <mat-label>Academic Year</mat-label>
                <mat-select formControlName="school_year_id">
                    <mat-option
                        [value]="schoolYear.id"
                        *ngFor="
                            let schoolYear of schoolYears$ | async;
                            trackBy: trackByFn
                        "
                        >{{ schoolYear.name }}</mat-option
                    >
                </mat-select>
                <mat-error>Academic Year is Required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Date</mat-label>
                <input
                    matInput
                    formControlName="date"
                    [matDatepicker]="picker1"
                />

                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker1"
                ></mat-datepicker-toggle>

                <mat-datepicker #picker1></mat-datepicker>
                <mat-error>Date is required</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Event Name</mat-label>
                <input
                    matInput
                    autofocus
                    formControlName="name"
                    placeholder="Opening of Lights"
                />
                <mat-error>Event Name is Required</mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Event Description</mat-label>
                <textarea
                    matInput
                    autofocus
                    formControlName="description"
                    placeholder="Opening of Lights"
                ></textarea>
                <mat-error>Event Description is Required</mat-error>
            </mat-form-field>

            <button
                matRipple
                primaryButton
                (click)="save()"
                *ngIf="loader$ | async as loader"
                [loader]="loader"
                matRippleColor="rgba(250, 250, 250,.3)"
                [ngClass]="{
                    'bg-isat-blue hover:bg-black ': loader === 'idle'
                }"
                class="w-full py-3 mt-4 text-base text-white rounded-md"
            >
                <button-title
                    [loader]="loader"
                    [buttons]="[
                        'Save',
                        'processing request...',
                        'Saving Failed',
                        'Saved'
                    ]"
                />
            </button>
        </div>

        <div class="md:col-span-2">
            <div
                *ngIf="fileUrls.length !== 0"
                class="grid grid-cols-2 gap-4 md:grid-cols-5"
            >
                <div
                    *ngFor="let url of fileUrls; let i = index"
                    class="flex flex-col w-full"
                >
                    <img
                        [src]="url"
                        alt=""
                        class="object-cover w-full h-[150px]"
                    />
                    <button
                        (click)="download(url)"
                        class="bg-isat-blue text-isat-yellow py-2.5 font-bold w-full"
                    >
                        Download
                    </button>

                    <button
                        (click)="remove(i)"
                        class="text-isat-blue bg-isat-yellow py-2.5 font-bold w-full"
                    >
                        Remove
                    </button>
                </div>
            </div>

            <div
                stopPropagation
                fileDropZone
                (onDrop)="onDrop($event)"
                (click)="fileInput.click()"
                class="flex items-center justify-center w-full mt-8"
            >
                <label
                    for="dropzone-file"
                    class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
                >
                    <div
                        class="flex flex-col items-center justify-center pt-5 pb-6"
                    >
                        <svg
                            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 20 16"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                            />
                        </svg>
                        <p
                            class="mb-2 text-sm text-gray-500 dark:text-gray-400"
                        >
                            <span class="font-semibold">Click to upload</span>
                            or drag and drop
                        </p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">
                            SVG, PNG, JPG or GIF (MAX. 800x400px)
                        </p>
                    </div>
                    <input
                        stopPropagation
                        (change)="onFileRead($event)"
                        #fileInput
                        type="file"
                        class="hidden"
                        multiple
                        accept="image/*"
                    />
                </label>
            </div>
        </div>
    </form>
</div>
