<div class="flex flex-col w-full min-h-[100vh]">
    <page-header
        headerTitle="Faculties"
        subtitle="Guiding Lights, Shaping Futures"
        [template]="template"
    />

    <ng-template #template>
        <div class="flex items-center px-5">
            <div class="mr-auto"></div>

            <mat-form-field class="w-full md:w-[200px] mx-3">
                <mat-select
                    (selectionChange)="filter()"
                    [(ngModel)]="filters.department_id"
                    placeholder="Select Department"
                >
                    <mat-option [value]="undefined">All</mat-option>
                    <mat-option
                        [value]="department.id"
                        *ngFor="
                            let department of departments$ | async;
                            trackBy: trackByFn
                        "
                        >{{ department.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>

            <mat-form-field class="w-full md:w-[200px] mx-3">
                <mat-select
                    (selectionChange)="filter()"
                    [(ngModel)]="filters.school_year_id"
                    placeholder="Select Academic Year"
                >
                    <mat-option [value]="undefined">All</mat-option>
                    <mat-option
                        [value]="schoolYear.id"
                        *ngFor="
                            let schoolYear of schoolYears$ | async;
                            trackBy: trackByFn
                        "
                        >{{ schoolYear.name }}</mat-option
                    >
                </mat-select>
            </mat-form-field>

            <button
                (click)="add()"
                class="py-2.5 px-5 bg-isat-blue rounded text-white active:opacity-75 md:hover:bg-black -mt-4"
            >
                New Faculty
            </button>
        </div>
    </ng-template>

    <faculty-list [faculties]="faculties$ | async" />
</div>
