<form class="w-full" *ngIf="form && name" [formGroup]="form">
    <mat-form-field class="w-full">
        <button mat-icon-button matTooltip="Select Country" matPrefix>
            <img
                width="48"
                height="36"
                [ngSrc]="countryISO | to_flag"
                (click)="phoneCountryCode.open()"
                class="object-contain"
            />
        </button>

        <mat-select
            #phoneCountryCode
            class="invisible w-1 h-1"
            placeholder="Select Country"
            (selectionChange)="changeFlag($event.value)"
        >
            <mat-option
                [value]="country.name"
                *ngFor="let country of COUNTRIES; trackBy: trackByFn"
            >
                {{ country.name }}
            </mat-option>
        </mat-select>

        <input
            stopPropagation
            type="tel"
            [formControlName]="name"
            [placeholder]="placeholder"
            matInput
        />

        <mat-error>Phone is required.</mat-error>
    </mat-form-field>
</form>
